<% if reminder.errors.present? %>
  <ul class="bg-red-200">
    <% reminder.errors.full_messages.each do |err_msg| %>
      <li><%= err_msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with scope: :reminder, url: reminders_path, class: "flex flex-col gap-2" do |f| %>
  <%= label_tag :reminder_time, "Напомнить в" %>
  <%= f.datetime_field :reminder_time %>
  <%= label_tag :text, "Текст" %>
  <%= f.text_area :text %>

  <%= f.submit "Создать Напоминание" %>
<% end %>
